body{

    background-color: #FFDEEE;
    display:flex;
    justify-content: center;
    align-items: center;

}

button{
    border:2px solid #FF2C9F;
    background-color: #FF2C9F;
    border-radius: 5px;
    color:aliceblue;
}